Geodesyx/Connected Services/SRequestStatusChange/SRequestStatusChange.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:21930/SRequestStatusChange.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oracle.ManagedDataAccess.Client" />
  <xs:import schemaLocation="http://localhost:21930/SRequestStatusChange.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/DTOlib" />
  <xs:import schemaLocation="http://localhost:21930/SRequestStatusChange.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ExecuteNonQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Oracle.ManagedDataAccess.Client" minOccurs="0" name="param" nillable="true" type="q1:ArrayOfOracleParameter" />
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteNonQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteNonQueryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCurrentFromSequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sequence_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCurrentFromSequenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectCurrentFromSequenceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTOlib" minOccurs="0" name="input" nillable="true" type="q2:RequestStatusChange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DTOlib" minOccurs="0" name="SelectResult" nillable="true" type="q4:ArrayOfRequestStatusChange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectLastStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectLastStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DTOlib" minOccurs="0" name="SelectLastStatusResult" nillable="true" type="q5:RequestStatusChange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Oracle.ManagedDataAccess.Client" minOccurs="0" name="param" nillable="true" type="q6:ArrayOfOracleParameter" />
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectQueryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>