Geodesyx/Connected Services/SRequestStatusChange/SRequestStatusChange6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTOlib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTOlib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RequestStatusChange">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ABase">
        <xs:sequence>
          <xs:element minOccurs="0" name="change_date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="new_status" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="old_status" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="request_id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestStatusChange" nillable="true" type="tns:RequestStatusChange" />
  <xs:complexType name="ABase">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ABase" nillable="true" type="tns:ABase" />
  <xs:complexType name="ArrayOfRequestStatusChange">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestStatusChange" nillable="true" type="tns:RequestStatusChange" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequestStatusChange" nillable="true" type="tns:ArrayOfRequestStatusChange" />
</xs:schema>