Geodesyx/Connected Services/SRequest_Task/SRequest_Task7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTOlib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTOlib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Request_Task">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ABase">
        <xs:sequence>
          <xs:element minOccurs="0" name="brigade_id" type="xs:int" />
          <xs:element minOccurs="0" name="request_id" type="xs:int" />
          <xs:element minOccurs="0" name="task_id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Request_Task" nillable="true" type="tns:Request_Task" />
  <xs:complexType name="ABase">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ABase" nillable="true" type="tns:ABase" />
</xs:schema>