Geodesyx/Connected Services/SAddress/SAddress2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTOlib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTOlib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Address">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ABase">
        <xs:sequence>
          <xs:element minOccurs="0" name="X" type="xs:float" />
          <xs:element minOccurs="0" name="Y" type="xs:float" />
          <xs:element minOccurs="0" name="address_name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="ABase">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ABase" nillable="true" type="tns:ABase" />
  <xs:complexType name="ArrayOfAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress" nillable="true" type="tns:ArrayOfAddress" />
</xs:schema>