Geodesyx/Connected Services/SRequestStatus/SRequestStatus3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTOlib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTOlib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRequestStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestStatus" nillable="true" type="tns:RequestStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequestStatus" nillable="true" type="tns:ArrayOfRequestStatus" />
  <xs:complexType name="RequestStatus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ABase">
        <xs:sequence>
          <xs:element minOccurs="0" name="requestStatusName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestStatus" nillable="true" type="tns:RequestStatus" />
  <xs:complexType name="ABase">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ABase" nillable="true" type="tns:ABase" />
</xs:schema>