Geodesyx/Connected Services/SBrigade/SBrigade4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTOlib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTOlib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBrigade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Brigade" nillable="true" type="tns:Brigade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrigade" nillable="true" type="tns:ArrayOfBrigade" />
  <xs:complexType name="Brigade">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ABase">
        <xs:sequence>
          <xs:element minOccurs="0" name="brigadeLead" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="brigadeName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Brigade" nillable="true" type="tns:Brigade" />
  <xs:complexType name="ABase">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ABase" nillable="true" type="tns:ABase" />
</xs:schema>