Geodesyx/Connected Services/SBrigadeEndedTasks/SBrigadeEndedTasks4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTOlib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTOlib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVBrigadeEndedTasks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VBrigadeEndedTasks" nillable="true" type="tns:VBrigadeEndedTasks" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVBrigadeEndedTasks" nillable="true" type="tns:ArrayOfVBrigadeEndedTasks" />
  <xs:complexType name="VBrigadeEndedTasks">
    <xs:sequence>
      <xs:element minOccurs="0" name="brigade_id" type="xs:int" />
      <xs:element minOccurs="0" name="change_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="request_description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="request_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="task_id" type="xs:int" />
      <xs:element minOccurs="0" name="task_note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="total_time" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VBrigadeEndedTasks" nillable="true" type="tns:VBrigadeEndedTasks" />
</xs:schema>