Geodesyx/Connected Services/STask/STask.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="STask" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:21930/STask.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:21930/STask.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:21930/STask.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oracle.ManagedDataAccess.Client" />
      <xsd:import schemaLocation="http://localhost:21930/STask.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Common" />
      <xsd:import schemaLocation="http://localhost:21930/STask.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:21930/STask.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:21930/STask.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:21930/STask.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/DTOlib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOracleWcfService_ExecuteNonQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQuery" />
  </wsdl:message>
  <wsdl:message name="IOracleWcfService_ExecuteNonQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IOracleWcfService_SelectCurrentFromSequence_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectCurrentFromSequence" />
  </wsdl:message>
  <wsdl:message name="IOracleWcfService_SelectCurrentFromSequence_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectCurrentFromSequenceResponse" />
  </wsdl:message>
  <wsdl:message name="ITask_SelectTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectTasks" />
  </wsdl:message>
  <wsdl:message name="ITask_SelectTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectTasksResponse" />
  </wsdl:message>
  <wsdl:message name="ITask_SelectNewTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectNewTasks" />
  </wsdl:message>
  <wsdl:message name="ITask_SelectNewTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectNewTasksResponse" />
  </wsdl:message>
  <wsdl:message name="ITask_SelectTaskIDs_ByStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectTaskIDs_ByStatus" />
  </wsdl:message>
  <wsdl:message name="ITask_SelectTaskIDs_ByStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectTaskIDs_ByStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ITask_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="ITask_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="ITask_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ITask_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IOracleWcfService">
    <wsdl:operation name="ExecuteNonQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IOracleWcfService/ExecuteNonQuery" message="tns:IOracleWcfService_ExecuteNonQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOracleWcfService/ExecuteNonQueryResponse" message="tns:IOracleWcfService_ExecuteNonQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectCurrentFromSequence">
      <wsdl:input wsaw:Action="http://tempuri.org/IOracleWcfService/SelectCurrentFromSequence" message="tns:IOracleWcfService_SelectCurrentFromSequence_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOracleWcfService/SelectCurrentFromSequenceResponse" message="tns:IOracleWcfService_SelectCurrentFromSequence_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ITask">
    <wsdl:operation name="SelectTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/ITask/SelectTasks" message="tns:ITask_SelectTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITask/SelectTasksResponse" message="tns:ITask_SelectTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectNewTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/ITask/SelectNewTasks" message="tns:ITask_SelectNewTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITask/SelectNewTasksResponse" message="tns:ITask_SelectNewTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectTaskIDs_ByStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ITask/SelectTaskIDs_ByStatus" message="tns:ITask_SelectTaskIDs_ByStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITask/SelectTaskIDs_ByStatusResponse" message="tns:ITask_SelectTaskIDs_ByStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/ITask/Insert" message="tns:ITask_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITask/InsertResponse" message="tns:ITask_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ITask/Update" message="tns:ITask_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITask/UpdateResponse" message="tns:ITask_Update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOracleWcfService" type="tns:IOracleWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteNonQuery">
      <soap:operation soapAction="http://tempuri.org/IOracleWcfService/ExecuteNonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCurrentFromSequence">
      <soap:operation soapAction="http://tempuri.org/IOracleWcfService/SelectCurrentFromSequence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ITask" type="tns:ITask">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectTasks">
      <soap:operation soapAction="http://tempuri.org/ITask/SelectTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectNewTasks">
      <soap:operation soapAction="http://tempuri.org/ITask/SelectNewTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTaskIDs_ByStatus">
      <soap:operation soapAction="http://tempuri.org/ITask/SelectTaskIDs_ByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/ITask/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ITask/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="STask">
    <wsdl:port name="BasicHttpBinding_IOracleWcfService" binding="tns:BasicHttpBinding_IOracleWcfService">
      <soap:address location="http://localhost:21930/STask.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ITask" binding="tns:BasicHttpBinding_ITask">
      <soap:address location="http://localhost:21930/STask.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>