Geodesyx/Connected Services/SBrigadeInWorkTasks/SBrigadeInWorkTasks7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTOlib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTOlib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVBrigadeInWorkTasks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VBrigadeInWorkTasks" nillable="true" type="tns:VBrigadeInWorkTasks" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVBrigadeInWorkTasks" nillable="true" type="tns:ArrayOfVBrigadeInWorkTasks" />
  <xs:complexType name="VBrigadeInWorkTasks">
    <xs:sequence>
      <xs:element minOccurs="0" name="address_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="adr_X" type="xs:float" />
      <xs:element minOccurs="0" name="adr_Y" type="xs:float" />
      <xs:element minOccurs="0" name="change_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="request_description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="request_id" type="xs:int" />
      <xs:element minOccurs="0" name="request_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="request_status_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="service_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="task_id" type="xs:int" />
      <xs:element minOccurs="0" name="task_note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="task_status_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VBrigadeInWorkTasks" nillable="true" type="tns:VBrigadeInWorkTasks" />
</xs:schema>